.kp-color-ribbon {
  /**
    * @prop --kp-color-ribbon-columns: `grid-template-columns` Number of columns.
    */
  --kp-color-ribbon-columns: #{rem(34)} 1fr #{rem(150)};
  --kp-color-ribbon-padding: #{rem(8)} #{rem(16)};
  --kp-color-ribbon-bg-color: #ffffff;
  --kp-color-ribbon-border-radius: #{rem(3)};
  --kp-color-ribbon-label-font-size: #{rem(12)};
  --kp-color-ribbon-label-bg-color: #f3f4f6;

  &.isCard {
    --kp-color-ribbon-columns: 1fr;
    --kp-color-ribbon-padding: #{rem(16)} #{rem(16)} #{rem(24)};
    --kp-color-ribbon-border-radius: #{rem(3)};
    --kp-color-ribbon-label-font-size: #{rem(12)};
  }

  display: flex;
  padding: var(--kp-color-ribbon-padding);
  align-items: center;
  background-color: var(--kp-color-ribbon-bg-color);
  border-radius: var(--kp-color-ribbon-border-radius);

  span {
    display: inline-flex;
    align-items: center;

    &:before {
      display: inline-flex;
      padding: rem(5) rem(8);
      margin-right: rem(12);
      font-size: var(--kp-color-ribbon-label-font-size);
      font-weight: var(--font-weight--bold);
      text-transform: uppercase;
      background-color: var(--kp-color-ribbon-label-bg-color);
      border-radius: rem(3);
    }
  }

  &.isCard {
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    row-gap: rem(8);

    span:before {
      width: rem(60);
      justify-content: center;
    }
  }

  // Color chip
  &__chip {
    width: rem(32);
    height: rem(32);
    background-color: var(--kp-color-ribbon-label-bg-color);
    border-radius: var(--border-radius, rem(3));

    .isCard & {
      width: 100%;
      height: rem(66);
      margin-bottom: rem(8);
    }
  }

  // Name
  &__name {
    padding-right: rem(16);
    padding-left: rem(16);
    text-transform: capitalize;

    &:before {
      content: "Name";
    }

    .isCard & {
      padding: 0;
    }
  }

  // Hex value
  &__hex-value {
    padding-left: rem(16);
    margin-left: auto;

    &:before {
      content: "Hex";
    }

    .isCard & {
      padding: 0;
      margin-left: unset;
    }
  }

  // RGB value
  &__rgb-value {
    padding-left: rem(16);
    margin-left: auto;

    &:before {
      content: "RGB";
    }

    .isCard & {
      padding: 0;
      margin-left: unset;
    }
  }
}
