.kp-color-chip {
  --kp-color-chip-border-radius: #{rem(3)};
  --kp-color-chip-bg-color: #ffffff;
  --kp-color-chip-padding: #{rem(16)};
  --kp-color-chip-size: #{rem(24)};
  --kp-color-chip-preview-border-radius: #{rem(3)};
  --kp-color-chip-value-padding: #{rem(16)};

  display: flex;
  padding: var(--kp-color-chip-padding);
  align-items: center;
  background-color: var(--kp-color-chip-bg-color);
  border-radius: var(--kp-color-chip-border-radius);

  /* Preview */
  &__preview {
    width: var(--kp-color-chip-size);
    height: var(--kp-color-chip-size);
    border-radius: var(--kp-color-chip-preview-border-radius);
  }

  /* Value */
  &__value {
    padding-left: var(--kp-color-chip-value-padding);
  }
}
