/* 
 * Typography 
 */

/* Headings */
%heading {
  color: var(--headings-color);
  font-family: var(--headings-font-family);
  font-style: var(--headings-font-style);
}

/* Use for: Oversized screen titles. Use in moderation. */
.text-900 {
  margin-bottom: 16px;
  color: var(--headings-color);
  font-size: 56px;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: -0.01em;
}

/* Empty states and feature introductions. Top level headers. */
.text-800 {
  margin-bottom: rem(16);
  color: var(--headings-color);
  font-size: rem(40);
  font-weight: 800;
  line-height: rem(32);
  letter-spacing: -0.01em;
}

/* Main titles, use only once per page. */
.text-700 {
  color: var(--headings-color);
  font-size: 40px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: -0.01em;
}

/* Headings that identify key functionality. */
.text-600 {
  color: var(--headings-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.008em;
}

/* Sub-section and field group headings. */
.text-500 {
  color: var(--headings-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.006em;
}

/* Deep headings and for highlighting important pieces of information. */
.text-400 {
  color: var(--headings-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.003em;
}

/* Heading up a group of list items. */
.text-300 {
  color: var(--headings-color);
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0;
  text-transform: uppercase;
}

/* Low level headings. */
.text-200 {
  color: var(--headings-color--light);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0;
}

/* Low level headings. */
.text-100 {
  color: var(--headings-color--light);
  font-size: 11px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 0;
}

/* Link style */
a,
.link {
  color: var(--link-color);
  text-decoration: var(--link-decoration);

  &:hover,
  &:focus {
    text-decoration: var(--link-hover-decoration);
  }
}

/* Bold / Strong */
b,
strong {
  font-weight: var(--font-weight--bold);
}

/* Italics */
i,
em {
  font-style: italic;
}

/* Small */
small,
.small {
  font-size: var(--font-size--small);
}

/* List items */
ul,
ol {
  padding-left: 1.2em;
  margin: 0;
}

/* Heading tags defaults */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @extend %heading;

  /* Link inside heading */
  a,
  .link {
    color: var(--headings-color);
  }
}

h1,
.h1 {
  @extend .text-700;
}

h2,
.h2 {
  @extend .text-600;
}

h3,
.h3 {
  @extend .text-500;
}

h4,
.h4 {
  @extend .text-400;
}

h5,
.h5 {
  @extend .text-300;
}

h6,
.h6 {
  @extend .text-200;
}

/* Label */
label {
  @extend .text-300;
  margin-bottom: 4px;
}
