// Button styles
.kp-button {

  // Layout
  --kp-btn-padding-left: #{rem(0)};
  --kp-btn-padding-rigth: #{rem(0)};
  --kp-btn-padding-top: #{rem(0)};
  --kp-btn-padding-bottom: #{rem(0)};
  --kp-btn-justify-content: center;
  --kp-btn-align-items: center;

  // Colors
  --kp-btn-bg-color: #00B8A7;
  --kp-btn-color: #FFFFFF;

  // Fonts
  --kp-btn-font-size: initial;
  --kp-btn-font-weight: initial;

  // Border
  --kp-btn-border-radius: initial;
  --kp-btn-border-color: #00B8A7;
  
  // Default button styles
  display: inline-flex;
  justify-content: var(--kp-btn-justify-content);
  align-items: var(--kp-btn-align-items);
  font-weight: var(--kp-btn-font-weight);
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--kp-btn-bg-color);
  color: var(--kp-btn-color);
  padding-left: var(--kp-btn-padding-left);
  padding-right: var(--kp-btn-padding-right);
  padding-top: var(--kp-btn-padding-top);
  padding-bottom: var(--kp-btn-padding-bottom);
  font-size: var(--kp-btn-font-size, initial);
  border: 1px solid var(--kp-btn-border-color);
  border-radius: var(--kp-btn-border-radius, initial);

  // Default focus, hover state
  &:focus, 
  &:hover {
    --kp-btn-bg-color: rgb(0,184,167,0.9);
    --kp-btn-border-color: rgb(0,184,167,0.9);
    --kp-btn-color: #FFFFFF;
    outline: none;
  }

  // Button disabled
  &--disabled {
    --kp-btn-bg-color: #DCDDDF;
    --kp-btn-color: #FFFFFF;
    --kp-btn-border-color: #DCDDDF;
    cursor: default;
    pointer-events: none;

    // Disabled hover, focus
    &:focus, 
    &:hover {
      --kp-btn-bg-color: #DCDDDF;
      --kp-btn-color: #FFFFFF;
      --kp-btn-border-color: #DCDDDF;
    }
  }

  // Button large
  &--large {
    --kp-btn-font-size: initial;
    --kp-btn-padding-left: #{rem(0)};
    --kp-btn-padding-rigth: #{rem(0)};
    --kp-btn-padding-top: #{rem(0)};
    --kp-btn-padding-bottom: #{rem(0)};
  }

  // Button loading state
  &--loading {
    cursor: auto;
    pointer-events: none;
  }
}