::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--form-control-placeholder-color);
  font-weight: var(--form-control-placeholder-font-weight);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--form-control-placeholder-color);
  font-weight: var(--form-control-placeholder-font-weight);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--form-control-placeholder-color);
  font-weight: var(--form-control-placeholder-font-weight);
}

// Input text
.input-text,
input[type="text"] {
  padding-top: var(--form-control-padding-y);
  padding-right: var(--form-control-padding-x);
  padding-bottom: var(--form-control-padding-y);
  padding-left: var(--form-control-padding-x);
  color: var(--form-control-text-color);
  font-size: var(--form-control-font-size);
  font-weight: var(--form-control-font-weight);
  background: #ffffff;
  box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.12);
  border-color: var(--form-control-border-color);
  border-style: var(--form-control-border-style);
  border-width: var(--form-control-border-size);
  border-radius: var(--form-control-border-radius);
  outline: none;

  &:hover {
    border-color: var(--form-control-hover-border-color);
  }

  &:focus {
    border-color: var(--form-control-focus-border-color);
  }
}

// Button
button,
input[type="button"] {
  padding-top: var(--form-control-padding-y);
  padding-right: var(--form-control-padding-x);
  padding-bottom: var(--form-control-padding-y);
  padding-left: var(--form-control-padding-x);
  color: var(--btn-default-text-color);
  font-size: var(--btn-default-font-size);
  font-weight: var(--btn-default-font-weight);
  background-color: var(--btn-default-bg-color);
  border-color: var(--btn-default-border-color);
  border-style: var(--form-control-border-style);
  border-width: var(--form-control-border-size);
  border-radius: var(--btn-default-border-radius-size);
  outline: none;
  cursor: pointer;

  &:hover {
    border-color: var(--btn-default-hover-border-color);
    background-color: var(--btn-default-hover-bg-color);
  }

  &:active {
    border-color: var(--btn-default-active-border-color);
    background-color: var(--btn-default-active-bg-color);
  }
}
